@import "font-awesome-sprockets";
@import "font-awesome";

#trans1 {
  height: 10vh;
  background-color: #FFF6E5;
  background-size: cover;
}

#trans2 {
  height: 10vh;
  background-color: #E74C3C;
  background-size: cover;
}

#trans3 {
  height: 10vh;
  background-color: #2185C5;
  background-size: cover;
}

#trans4 {
  height: 10vh;
  background-color: #3E454C;
  background-size: cover;
}

#block1 {
  background-color: #3E454C;
  background-size: cover;
  color: #FFF6E5;
}

#block2 {
  background-color: #FFF6E5;
  background-size: cover;
  color: #3E454C;
}

#block3 {
  background-color: #E74C3C;
  background-size: cover;
  color: #3E454C;
}

#block4 {
  background-color: #2185C5;
  background-size: cover;
  color: #3E454C;
}

#block5 {
  background-color: #3E454C;
  background-size: cover;
  color: #FFF6E5;
}

.block {
  height: 90vh;
}

.header {
  padding: 5%;
  a {
    color: #FFF6E5;
  }
}

.content {
  padding: 5%;
  p {
    font-size: 18px;
    font-style: italic;
  }
}

@media screen and (max-width: 420px) {
  .action {
    p {
      font-size: 16px;
    }
    h1 {
      font-size: 28px;
    }
    h2 {
      font-size: 24px;
    }
  }
}

.action {
  padding: 5%;
  text-align: center;
  p {
    font-size: 18px;
    font-style: italic;
  }
  a {
    color: #FFF6E5;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      h1 {
        background-color: rgba(255, 246, 229, 0.4);
      }
    }
  }
  h1 {
    border-radius: 5px;
    padding: 15px;
    border: 2px solid;
  }
}

.team {
  padding: 5%;
}

.partner {
  padding: 5%;
}
.scroll-down {
  text-align: center;
  padding: 3px;
}

.title-right {
  text-align: right;
}

.social-links {
  text-align: right;
  margin-right: 10%;
  font-size: 28px;
  i {
    border: 1px solid;
    border-radius: 100px;
    padding: 10px 15px 5px 15px;
  }
}